body
  padding: 0px
  margin: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.login_bar
  padding: 12px
  background-color: yellow
  border: 1px solid grey
  margin: 1px
  height: 14px
  ul
    padding: 0px
    margin: 0px
    li
      top: 0px
      float: right
      margin: 0px
      padding: 0px 4px 0px 4px
      display: inline
      &:not(:first-child)
        &:not(:last-child)
          border-left: 1px solid grey
          border-right: 1px solid grey



